/MKL05Z32/Listings
/MKL05Z32/Objects
/MKL05Z32/RTE
/MKL05Z32/EventRecorderStub.scvd
/MKL05Z32/JLinkLog.txt
/MKL05Z32/JLinkSettings.ini
/MKL05Z32/project1.uvguix.vkare
/MKL05Z32/project1.uvoptx
/MKL05Z32/project1.uvprojx
/MKL05Z32/project1.uvguix.vkare.bak
